BOT_TOKEN=
OWNER_ID=
MONGO_URI=
MONGO_DB=group_help_bot

# Telegram file_id OR a direct public image URL (https://...)
START_PHOTO=https://example.com/start.jpg

SUPPORT_URL=https://t.me/YourSupport
OWNER_URL=https://t.me/YourUsername
CHANNEL_URL=https://t.me/YourChannel
